simulations/old_scripts/cuniform_pyc_dubins_one_obstacle_ros.py
simulations/old_scripts/dynamic_env.py
simulations/old_scripts/generate_costmap.py
simulations/old_scripts/generate_envs_new_u.py
simulations/old_scripts/generate_envs_new.py
simulations/old_scripts/generate_envs.py
simulations/old_scripts/log_mppi_pyc_dubins.py
simulations/old_scripts/mhe_example.ipynb
simulations/old_scripts/mppi_goal_kinematic_model_pycuda_costmap.py
simulations/old_scripts/mppi_goal_kinematic_model_pycuda.py
simulations/old_scripts/mppi_goal_kinematic_model.py
simulations/old_scripts/mppi_goal_simple_model.py
simulations/old_scripts/mppi_planner_ros.py
simulations/old_scripts/mppi_pyc_dubins_cluttered.py
simulations/old_scripts/mppi_pyc_dubins_coverage.py
simulations/old_scripts/mppi_pyc_dubins_one_obstacle_ros.py
simulations/old_scripts/mppi_pyc_dubins_one_obstacle_sudden_random_pos.py
simulations/old_scripts/mppi_pyc_dubins_one_obstacle_sudden.py
simulations/old_scripts/mppi_pyc_dubins_one_obstacle.py
simulations/old_scripts/mppi_pygame.py
simulations/old_scripts/ros_mppi_pyc_dubins_temp.py
simulations/old_scripts/ros_mppi_pyc_dubins.py
simulations/old_scripts/traj_generation.py
simulations/old_scripts/trajectory_extraction.py
simulations/old_scripts/uniform_prob_gpu_sampling.py
simulations/old_scripts/vanilla_mppi_pyc_dubins.py
simulations/old_scripts/visualize_envs.py
simulations/old_scripts/visualize_trajs.ipynb
simulations/old_scripts/yukang_traj_vis.py
